<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body>
        <p><b>{fileName:}</b> validation completed, Errors Encountered.</p>

        <p>Total Number of Rows Received: <b>{totalRows:}</b></p>
        <p>Total Number of Rows Passed Validation: <b>{validRows:}</b></p>
        <p>Total Number of Rows with Errors: <b>{invalidRows:}</b></p>

        <p>Action : Please download Fallout file via designated directory, filename <b>{fileName:}_errors</b></p>

    </body>
</html>